nav {
  background-color: #2b3743;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 60px;
}

.light {
  background-color: #ffffff;
  color: #2b3743;
}

.night {
  color: #ffffff;
  background-color: #2b3743;
}

.theme_selector {
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme_selector > img {
  display: block;
  width: 30px;
  height: 30px;
}

@media (max-width: 430px) {
  nav {
    padding: 0 15px;
  }
}
